input[type='number'] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  height: 100vh;

  & form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
    max-width: 250px;

    & input,
    & button,
    & select {
      padding: 8px;

      &::placeholder {
        color: #000;
      }
    }
  }
}
